<header>

    <mat-toolbar class="toolbar">

      <mat-toolbar-row>
        <a routerLink="home"><span><mat-icon>accessibility_new</mat-icon>ICC API</span></a>
        <span class="example-spacer"></span>

        <a routerLink="home"><button mat-raised-button>Home</button></a>
        <span class="example-spacer"></span>

        <a routerLink="eventos"><button mat-raised-button>Eventos</button></a>
        <span class="example-spacer"></span>

        <a routerLink="calendar"><button mat-raised-button>Calendário</button></a>
        <span class="example-spacer"></span>

        <a routerLink="casa"><button mat-raised-button>C.A.S.A</button></a>
        <span class="example-spacer"></span>

        <a routerLink="escola-biblia"><button mat-raised-button>Escola da Bíblia</button></a>
        <span class="example-spacer"></span>

        <a routerLink="membros"><button mat-raised-button>Lista de Membros</button></a>
        <span class="example-spacer"></span>

        <a routerLink="novo-membro"><button mat-raised-button>Novo Membro</button></a>
      </mat-toolbar-row>
    </mat-toolbar>

  </header>
