
    <a href="https://www.facebook.com/igrejadecristonacapital/" target="_blank"><img src="https://img.icons8.com/ios/50/000000/facebook--v1.png"/></a>
    <a href="https://www.youtube.com/channel/UC7XNJojKtGiJ2rxmWnfkraw" target="_blank"><img src="https://img.icons8.com/ios/50/000000/youtube-play--v1.png"/></a>
    <a href="https://www.instagram.com/igrejadecristonacapital/" target="_blank"><img src="https://img.icons8.com/ios/50/000000/instagram-new--v1.png"/></a>
    <p><mat-icon>copyright</mat-icon>Igreja de Cristo na Capital - Todos os direitos reservados.</p>
