
  <h1 class="titulo">C.A.S.A</h1>
  <h2>Grupos Pequenos</h2>

    <img class="imagem" src="https://lh3.googleusercontent.com/proxy/hDOnzvGZtJzssXyzwwRJSZLf59vfkDIGqG1OBWRmrsp67bVw_kxO59a1sQu_8bOcmol2BPkDLNoP74rBqNXn0qWA6Id4sVObEq2ztoZ7qC2vZ2WsFSg9qj7sGhcvbULCEOisGrvO"
    alt="Logo CASA">

  <p>
    Atos 2.46: A igreja se reunia todos os dias no templo  e de casa em casa.
    Desta forma, nós que desejamos ser como a igreja do Senhor Jesus no primeiro século fazemos da mesma forma.
  </p>

  <p>Nossos grupos se reunem em casas em vários locais do DF, temos CASAs em Sobradinho, Águas Claras, Asa Norte e Cruzeiro. ​
  Se você tem interesse em saber qual horário e local temos grupos para se inscrever, entre em contato pelo nosso telefone ou mande um email.
  </p>

  <p>COMUNHÃO, AMOR, SERVIÇO e ALMAS! </p>
